<div
  *ngIf="isPlayingAudio"
  class="absolute top-0 left-0 w-screen h-screen z-20 flex flex-col justify-center"
>
  <div class="absolute w-full h-full bg-black opacity-70"></div>
  <p class="text-center text-6xl font-mono opacity-100 z-30">
    {{ playbackWarningOverlayText }}
  </p>
</div>

<div class="p-5 w-full h-full">
  <ng-container *ngIf="currentStep === null">
    <div class="flex flex-col w-full h-full justify-center align-center gap-10">
      <p class="font-mono text-center text-5xl text-red-400">
        Null protocol step found.
      </p>
      <p class="text-center text-4xl">
        This is an application bug - abort test and inform assessment
        supervisor.
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep">
    <div class="w-full h-full flex flex-col justify-between items-center">
      <!-- Step header -->
      <div class="flex flex-col justify-center text-center">
        <p class="font-mono text-2xl">Step</p>
        <p class="font-mono text-4xl">
          {{ currentStep.stepIndex + 1 }} of {{ totalSteps }}
        </p>
        <p
          *ngIf="currentStep.stepIndex < 3"
          class="text-center mt-3 text-xl italic text-slate-500"
        >
          Don't worry - each step is pretty fast!
        </p>
      </div>

      <!-- Step action content -->
      <div class="w-full px-14 flex-grow" [ngSwitch]="currentStep.action.type">
        <app-transcription
          *ngSwitchCase="ProtocolActionType.TRANSCRIPTION"
          (onValidityChange)="onStepContentValidityChange($event)"
          #transcription
        />

        <div
          *ngSwitchDefault
          class="flex flex-col w-full h-full justify-center align-center gap-10"
        >
          <p class="font-mono text-center text-5xl text-red-400">
            Unknown Protocol Action Type: {{ currentStep.action.type }}
          </p>
          <p class="text-center text-4xl">
            This is an application bug - abort test and inform assessment
            supervisor.
          </p>
        </div>
      </div>

      <!-- Continue btn -->
      <button
        hlmBtn
        size="lg"
        class="max-w-80 mb-10 text-3xl px-16 py-8 font-mono focus:bg-green-400"
        [disabled]="!isStepContentValid"
        (click)="onContinue()"
      >
        Continue
      </button>
    </div>
  </ng-container>
</div>
