<div
  *ngIf="isPlayingAudio"
  class="absolute top-0 left-0 w-screen h-screen z-20 flex flex-col justify-center"
>
  <div class="absolute w-full h-full bg-black opacity-70"></div>
  <p class="text-center text-6xl font-mono opacity-100 z-30">
    {{ playbackWarningOverlayText }}
  </p>
</div>

<div class="p-5 w-full h-full">
  <ng-container *ngIf="currentStep === null">
    <div class="flex flex-col w-full h-full justify-center align-center gap-10">
      <p class="font-mono text-center text-5xl text-red-400">
        Null protocol step found.
      </p>
      <p class="text-center text-4xl">
        This is an application bug - abort test and inform assessment
        supervisor.
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep?.stepIndex == totalSteps">
    <div class="flex flex-col w-full h-full justify-center align-center gap-10">
      <p class="font-mono text-center text-5xl text-green-400">
        Perception Test Complete!
      </p>
      <p class="text-center text-4xl">
        Thank you for participating in our perception test. Please let the
        supervisor know you have finished.
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep && currentStep.stepIndex < totalSteps">
    <div class="w-full h-full flex flex-col justify-between items-center">
      <!-- Step header -->
      <div class="flex flex-col justify-center text-center">
        <p class="font-mono text-2xl">Step</p>
        <p class="font-mono text-4xl">
          {{ currentStep.stepIndex + 1 }} of {{ totalSteps }}
        </p>
        <p class="text-center mt-3 text-xl text-slate-500">
          Use the tab [<hlm-icon
            size="sm"
            name="lucideArrowRightToLine"
            class=""
          />] to navigate with your keyboard!
        </p>
      </div>

      <!-- Step action content -->
      <div class="w-full px-14 flex-grow" [ngSwitch]="currentStep.action.type">
        <!-- ACTION TYPE: Transcription -->
        <app-transcription
          *ngSwitchCase="ProtocolActionType.TRANSCRIPTION"
          (onValidityChange)="onStepContentValidityChange($event)"
          #transcription
        />

        <!-- ACTION TYPE: BREAK -->
        <app-break
          *ngSwitchCase="ProtocolActionType.BREAK"
          (onValidityChange)="onStepContentValidityChange($event)"
        />

        <div
          *ngSwitchDefault
          class="flex flex-col w-full h-full justify-center align-center gap-10"
        >
          <p class="font-mono text-center text-5xl text-red-400">
            Unknown Protocol Action Type: {{ currentStep.action.type }}
          </p>
          <p class="text-center text-4xl">
            This is an application bug - abort test and inform assessment
            supervisor.
          </p>
        </div>
      </div>

      <!-- Continue btn -->
      <div>
        <button
          hlmBtn
          size="lg"
          class="max-w-80 mb-10 text-3xl px-16 py-8 font-mono focus:bg-orange-400"
          [disabled]="!isStepContentValid"
          (click)="onContinue()"
        >
          Continue
        </button>
      </div>
    </div>
  </ng-container>
</div>
